:root{
    --cor-navbar: #07031C;
    --cor-h: #620093;
    --cor-p: #420892;
    --cor-link: #04C4D9;
    --cor-link-hover:#F2F2F2;
    --cor-hover-color: #049DD9;
    --cor-hover-back: #9A80BF;
    --cor-btn: #734EA6;
    --cor-branco: #FFFFFF;
    --cor-recommended: #65FFAA;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1, h2, h3{
    color: var(--cor-h);
}

p{
    color: var(--cor-p);
}

/* Navbar */
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: var(--cor-navbar);
    padding: 0 2rem;
}
.logo{
    width: 50px;
    margin-top: 15px;
}

nav{
    position: relative;
}

.navbar-itens{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-itens li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-itens a{
    color: var(--cor-link);
    text-decoration: none;
    transition: .5s;
}

.navbar-itens a:hover{
    color: var(--cor-hover-color);
}

.default-btn{
    padding: 15px 20px;
    background-color: var(--cor-btn);
    border-radius: 5px;
}

.navbar-itens .default-btn:hover{
    background-color: var(--cor-hover-back);
    color: var(--cor-link-hover) ;
}

/* Main Banner */
.main-banner{
    background-image: url(imagem/astronauta.banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 11rem 0;
}

.main-banner h1,
.main-banner p{
    color: var(--cor-p);
    text-align: center;
    font-weight: bold;
    text-shadow: var(--cor-hover-back) 3px 2px 3px;
}

 .main-banner h1{
    font-size: 54px;
 }
 .main-banner p{
    font-size: 24px;
 }

/* Serviços */
.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.services-container li{
    flex: 1 1 200px;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #1B702C;
}

.fa-rocket{
    color: #A60D1A;
}

.fa-comments{
    color: #F2C641;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
}

/* Preços e Planos */
.pricing-container{
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2{
    font-size: 32px;
}

.pricing-container p{
    font-size: 20px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul{
    padding: 0 2px;
}
.plan li{
    list-style: none;
    height: 90px;
    line-height: 45px;
    background-color: var(--cor-navbar);
    color: var(--cor-branco);
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    line-height: 120px;
    background-color: var(--cor-link);
    color: var(--cor-navbar);
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-navbar);
    background-color: var(--cor-btn);
    padding: 50px 0;
}

.plan .plan-btn{
    background-color: var(--cor-btn);
    color: var(--cor-link);
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}
.plan .plan-btn:hover{
    background-color: var(--cor-hover-back);
    color: var(--cor-link-hover);
}
.plan .recommended{
    background-color: var(--cor-recommended);
}

/* Local */
.local{
    background-image: url("imagem/terra.jpg");
    background-size: cover;
    background-position: center;
    padding: 11rem 0;
}
.local h2{
    text-align: center;
    color: var(--cor-branco);
    font-size: 34px;
    margin-bottom: 15px;
}
.local p{
    text-align: center;
    color: var(--cor-branco);
    font-size: 20px;
    margin-bottom: 15px;
}

.local input{
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.local input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}

.local input[type="submit"]{
    background-color: var(--cor-btn);
    color: var(--cor-link);
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
.local input[type="submit"]:hover{
    background-color: var(--cor-hover-back);
    color: var(--cor-link-hover);
}

/* Contato */
.contato{
    padding: 7rem 0 5rem 0;
    text-align: center;
    background-color: var(--cor-navbar);
}
.contato h2{
    color: var(--cor-link);
    margin-bottom: 15px;
    font-size: 34px;
}
.contato p{
    color: var(--cor-link);
    font-size: 20px;
    margin-bottom: 15px;
}
.contato input,
.contato textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--cor-link);
    margin: 0 10px 20px;
}

.contato textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contato input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: var(--cor-btn);
    color: var(--cor-link);
    cursor: pointer;
}
.contato input[type="submit"]:hover{
    background-color: var(--cor-hover-back);
    color: var(--cor-link-hover);
    border: var(--cor-link-hover);
}

/* Rodapé */
footer{
    padding: 1rem;
    background-color: var(--cor-link);
    color: var(--cor-navbar);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Responsividede */
/* small laptops 1100px para mais */
@media (max-width:1100px){
    .plans-container{
        width: 92%;
    }
    .plan{
        margin: 0 4px;
    }
    .plan li{
        padding: 3px;
    }
}

/* Tablet 900px para menos*/
@media (max-width:900px){
    .main-banner p{
        font-size: 30px;
    }
    .main-banner h1{
        font-size: 60px;
    }
    .plans-container{
        display: inline-block;
    }
    .plan{
        display: inline-block;
        flex: 1;
        margin: 22px;
    }
    .um{
        min-width: 275px;
    }
}

/* Celular 576px */
@media (max-width:576px){
    .navbar-itens li{
    margin-left: 4px;
    font-size: 15px;
}
   .main-banner h1{
    font-size: 50px;
   }
   .main-banner p{
    font-size: 20px;
   }

   .services-container ul{
    flex-direction: column;
   }

   .local{
    padding: 8rem 0;
   }
   .local h2{
    font-size: 28px;
   }
   .local input[type="text"]{
    width: 50%;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 15px;
}
   .contato textarea{
    display: block;
    margin: 0 auto 20px;
    width: 300px;
    height: 150px;
}
    footer{
    font-size: 12px;
   }

   .um{
    min-width: 275px;
}
}